In [1]:
import pandas as pd
import os as os
import glob as glob
import numpy as np

In [157]:
os.chdir("/Users/nastassiapatin/OneDrive - SCCWRP/Euks_mgns_asvs/18S comparison/ASV Tables")

In [158]:
a = pd.read_csv("RREAS2019_18S_asv_filtered_noCs_mgnmatches.csv")
a = a.rename(columns={"Unnamed: 0": "ASV ID"})
a.head()

,ASV ID,CN19_Nisk_SM_Night_100m_1,CN19_Nisk_SM_Day_5m_1,CN19_Nisk_SM_Day_5m_2,CN19_Nisk_SM_Day_10m_1,CN19_Nisk_SM_Day_10m_2,CN19_Nisk_SM_Day_100m_1,CN19_Nisk_SM_Day_100m_2,CN19_Nisk_SM_Day_100m_3,CN19_Nisk_SM_Dusk_50m_2,...,CN19_Nisk_Dav_Dawn_5m_2,CN19_Nisk_Dav_Dawn_27m_1,CN19_Nisk_Dav_Dawn_100m_1,CN19_Nisk_Dav_Dawn_100m_2,CN19_Nisk_Dav_Dawn_100m_3,CN19_Nisk_Far_13m_1,CN19_Nisk_Far_13m_2,CN19_Nisk_Far_60m_1,CN19_Nisk_Far_60m_2,CN19_Nisk_Far_60m_3
0,ASV_1,43,15045,19333,17526,7371,77,33,73,3101,...,20993,116,112,80,124,138,3981,141,39,115
1,ASV_2,2,6277,5702,76,76,5,1,5,25774,...,12004,572,950,1976,846,11370,9071,242,18,10
2,ASV_3,3,1,0,2504,2723,37,5,5,1,...,1,1,9,3,0,0,0,0,0,2
3,ASV_4,1483,11153,6124,1337,1235,625,349,252,1925,...,430,808,1343,956,1258,1353,1684,3384,4395,6655
4,ASV_5,613,5,6,3,24,87,128,108,42,...,5,19,146,103,4,3,1,15,24,21

In [159]:
samp = a[['ASV ID', 'CN19_Nisk_SM_Day_5m_2']]
samp

         ASV ID  CN19_Nisk_SM_Day_5m_2
0         ASV_1                  19333
1         ASV_2                   5702
2         ASV_3                      0
3         ASV_4                   6124
4         ASV_5                      6
...         ...                    ...
7624  ASV_10653                      0
7625  ASV_10656                      0
7626  ASV_10660                      0
7627  ASV_10663                      0
7628  ASV_10665                      0

[7629 rows x 2 columns]

In [160]:
samp = samp[samp['CN19_Nisk_SM_Day_5m_2'] != 0]

In [161]:
samp

        ASV ID  CN19_Nisk_SM_Day_5m_2
0        ASV_1                  19333
1        ASV_2                   5702
3        ASV_4                   6124
4        ASV_5                      6
5        ASV_6                   2749
...        ...                    ...
6270  ASV_8106                      2
6431  ASV_8405                      1
6432  ASV_8406                      2
7074  ASV_9619                      4
7207  ASV_9862                      4

[807 rows x 2 columns]

In [162]:
b = pd.read_csv("RREAS2019_18S_asv_filtered_noCs_mgnmatches_tax.csv")
b.head()

,ASV ID,CN19_Nisk_SM_Night_100m_1,CN19_Nisk_SM_Day_10m_1,CN19_Nisk_SM_Day_10m_2,CN19_Nisk_SM_Day_100m_1,CN19_Nisk_SM_Day_100m_2,CN19_Nisk_SM_Day_100m_3,CN19_Nisk_SM_Dusk_50m_2,CN19_Nisk_SM_Dusk_100m_1,CN19_Nisk_SM_Dusk_100m_2,...,CN19_Nisk_Far_60m_2,CN19_Nisk_Far_60m_3,Domain,Kingdom,Phylum,Class,Order,Family,Genus,Species
0,ASV_1,43,17526,7371,77,33,73,3101,330,279,...,39,115,Eukaryota,Metazoa,Arthropoda,Hexanauplia,Calanoida,Calanidae,NaN,NaN
1,ASV_2,2,76,76,5,1,5,25774,17,15,...,18,10,Eukaryota,Metazoa,Arthropoda,Hexanauplia,Calanoida,Paracalanidae,Paracalanus,NaN
2,ASV_3,3,2504,2723,37,5,5,1,3042,1250,...,0,2,Eukaryota,Metazoa,Arthropoda,Hexanauplia,Calanoida,Metridinidae,Metridia,NaN
3,ASV_4,1483,1337,1235,625,349,252,1925,1672,996,...,4395,6655,Eukaryota,NaN,unknown,Dinophyceae,NaN,NaN,NaN,NaN
4,ASV_5,613,3,24,87,128,108,42,1705,1912,...,24,21,Eukaryota,Metazoa,Cnidaria,Hydrozoa,Siphonophorae,NaN,NaN,NaN

In [163]:
c = b.merge(samp, on=['ASV ID'], how='outer')

In [165]:
c.to_csv("RREAS2019_18S_asv_filtered_noCs_mgnmatches_tax_v2.csv", index=None)

In [149]:
a.shape

(17238, 114)

In [152]:
samp.shape

(793, 2)

In [154]:
c.shape

(17238, 113)

In [155]:
c.head()

,ASV ID,CN19_Nisk_SM_Night_100m_1,CN19_Nisk_SM_Day_5m_2,CN19_Nisk_SM_Day_10m_1,CN19_Nisk_SM_Day_10m_2,CN19_Nisk_SM_Day_100m_1,CN19_Nisk_SM_Day_100m_2,CN19_Nisk_SM_Day_100m_3,CN19_Nisk_SM_Dusk_50m_2,CN19_Nisk_SM_Dusk_100m_1,...,CN19_Nisk_Far_60m_3,Domain,Kingdom,Phylum,Class,Order,Family,Genus,Species,CN19_Nisk_MO_Night_7m_2
0,ASV_5,0,51,3,16,2,3,0,207,1,...,144,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5798.0
1,ASV_11,243,13313,5460,13782,47,4,3,3746,2,...,236,Eukaryota,NaN,Bacillariophyta,Coscinodiscophyceae,NaN,NaN,g_,s_,4757.0
2,ASV_7,2554,3733,3209,2387,958,342,528,3720,722,...,158,Eukaryota,NaN,Haptophyta,unknown,Isochrysidales,Noelaerhabdaceae,NaN,NaN,3628.0
3,ASV_15,370,277,83,288,17,6,41,2580,73,...,1358,Eukaryota,NaN,Bacillariophyta,Coscinodiscophyceae,Rhizosoleniales,Rhizosoleniaceae,Guinardia,Guinardia delicatula,6793.0
4,ASV_2,3335,2986,1657,1347,569,1564,1158,3944,234,...,202,Eukaryota,NaN,Haptophyta,unknown,Isochrysidales,Noelaerhabdaceae,NaN,NaN,3584.0

In [121]:
asv_table_asvs = np.array(b['ASV ID'].unique())
tax_asvs = np.array(b['ASV ID'].unique())
diff = (set(asv_table_asvs) | set(tax_asvs)) - (set(asv_table_asvs) & set(tax_asvs))
diff

set()

In [126]:
asv_table_asvs

array(['ASV_1', 'ASV_2', 'ASV_3', ..., 'ASV_138755', 'ASV_138768',
       'ASV_138814'], dtype=object)

In [127]:
tax_asvs

array(['ASV_1', 'ASV_2', 'ASV_3', ..., 'ASV_138755', 'ASV_138768',
       'ASV_138814'], dtype=object)

In [78]:
tax_COI = pd.read_csv("RREAS2019_COI_asv_filtered_noCs_mgnmatches_tax.csv")

In [79]:
tax.shape

(17238, 112)

In [80]:
tax.head()

,ASV ID,CN19_Nisk_SM_Night_100m_1,CN19_Nisk_SM_Day_5m_2,CN19_Nisk_SM_Day_10m_1,CN19_Nisk_SM_Day_10m_2,CN19_Nisk_SM_Day_100m_1,CN19_Nisk_SM_Day_100m_2,CN19_Nisk_SM_Day_100m_3,CN19_Nisk_SM_Dusk_50m_2,CN19_Nisk_SM_Dusk_100m_1,...,CN19_Nisk_Far_60m_2,CN19_Nisk_Far_60m_3,Domain,Kingdom,Phylum,Class,Order,Family,Genus,Species
0,ASV_5,0,51,3,16,2,3,0,207,1,...,72,144,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ASV_11,243,13313,5460,13782,47,4,3,3746,2,...,497,236,Eukaryota,NaN,Bacillariophyta,Coscinodiscophyceae,NaN,NaN,g_,s_
2,ASV_7,2554,3733,3209,2387,958,342,528,3720,722,...,183,158,Eukaryota,NaN,Haptophyta,unknown,Isochrysidales,Noelaerhabdaceae,NaN,NaN
3,ASV_15,370,277,83,288,17,6,41,2580,73,...,1587,1358,Eukaryota,NaN,Bacillariophyta,Coscinodiscophyceae,Rhizosoleniales,Rhizosoleniaceae,Guinardia,Guinardia delicatula
4,ASV_2,3335,2986,1657,1347,569,1564,1158,3944,234,...,72,202,Eukaryota,NaN,Haptophyta,unknown,Isochrysidales,Noelaerhabdaceae,NaN,NaN

In [86]:
d_cols = np.array(d.columns.tolist())
tax_cols = np.array(tax.columns.tolist())
diff = (set(d_cols) | set(tax_cols)) - (set(d_cols) & set(tax_cols))
diff

{'CN19_Nisk_Dav_Dawn_27m_2',
 'CN19_Nisk_MO_Night_100m_1',
 'CN19_Nisk_MO_Night_7m_2',
 'CN19_Nisk_PB_Dusk_5m_1',
 'CN19_Nisk_SM_Day_5m_1',
 'CN19_Nisk_SM_Day_5m_2',
 'CN19_Nisk_SM_Day_5m_2_x',
 'CN19_Nisk_SM_Day_5m_2_y',
 'CN19_Nisk_SM_Dusk_5m_2',
 'CN19_Nisk_SM_Night_100m_3',
 'CN19_Nisk_SM_Night_23m_1',
 'CN19_Nisk_SM_Night_23m_2',
 'CN19_Nisk_SM_Night_5m_1',
 'CN19_Nisk_SM_Night_5m_2',
 'Class',
 'Domain',
 'Family',
 'Genus',
 'Kingdom',
 'Order',
 'Phylum',
 'Species'}

In [83]:
d_cols

array(['ASV ID', 'CN19_Nisk_SM_Night_100m_1', 'CN19_Nisk_SM_Day_5m_1',
       'CN19_Nisk_SM_Day_5m_2_x', 'CN19_Nisk_SM_Day_10m_1',
       'CN19_Nisk_SM_Day_10m_2', 'CN19_Nisk_SM_Day_100m_1',
       'CN19_Nisk_SM_Day_100m_2', 'CN19_Nisk_SM_Day_100m_3',
       'CN19_Nisk_SM_Dusk_5m_2', 'CN19_Nisk_SM_Dusk_50m_2',
       'CN19_Nisk_SM_Dusk_100m_1', 'CN19_Nisk_SM_Dusk_100m_2',
       'CN19_Nisk_SM_Dusk_100m_3', 'CN19_Nisk_SM_Night_5m_1',
       'CN19_Nisk_SM_Night_5m_2', 'CN19_Nisk_SM_Night_23m_1',
       'CN19_Nisk_SM_Night_23m_2', 'CN19_Nisk_SM_Night_100m_2',
       'CN19_Nisk_SM_Night_100m_3', 'CN19_Buck4_SM_Night_0m_1',
       'CN19_Buck4_SM_Night_0m_2', 'CN19_Nisk_SM_Dawn_11m_1',
       'CN19_Nisk_PB_Day_100m_3', 'CN19_Nisk_PB_Dusk_70m_3',
       'CN19_Nisk_PB_Night_5m_1', 'CN19_Nisk_PB_Night_15m_1',
       'CN19_Nisk_SM_Dawn_5m_1', 'CN19_Nisk_SM_Dawn_11m_2',
       'CN19_Nisk_SM_Dawn_100m_1', 'CN19_Nisk_SM_Dawn_100m_2',
       'CN19_Nisk_SM_Dawn_100m_3', 'CN19_Nisk_PB_Day_5m_1',
       'CN19_Nisk_PB_Day_5m_2', 'CN19_Nisk_PB_Day_28m_1',
       'CN19_Nisk_PB_Day_28m_2', 'CN19_Nisk_PB_Day_100m_1',
       'CN19_Nisk_PB_Day_100m_2', 'CN19_Nisk_PB_Dusk_5m_1',
       'CN19_Nisk_PB_Dusk_5m_2', 'CN19_Nisk_PB_Dusk_10m_1',
       'CN19_Nisk_PB_Dusk_10m_2', 'CN19_Nisk_PB_Dusk_70m_1',
       'CN19_Nisk_PB_Dusk_70m_2', 'CN19_Nisk_PB_Night_15m_2',
       'CN19_Nisk_PB_Night_100m_2', 'CN19_Buck5_0m_1',
       'CN19_Nisk_PB_Dawn_5m_1', 'CN19_Nisk_PB_Dawn_45m_1',
       'CN19_Nisk_PB_Dawn_45m_2', 'CN19_Nisk_PB_Dawn_100m_2',
       'CN19_Nisk_MO_Night_7m_1', 'CN19_Nisk_MO_Night_100m_1',
       'CN19_Nisk_MO_Night_100m_3', 'CN19_Nisk_MO_Dawn_5m_2',
       'CN19_Nisk_MO_Dawn_26m_2', 'CN19_Nisk_MO_Dawn_100m_2',
       'CN19_Nisk_MO_Dawn_100m_3', 'CN19_Nisk_PS_Dusk_75m_2',
       'CN19_Nisk_PS_Dusk_10m_2', 'CN19_Nisk_PS_Dawn_10m_2',
       'CN19_Nisk_PS_Dawn_100m_2', 'CN19_Nisk_PS_Dawn_100m_3',
       'CN19_Buck1_SN_0m_1', 'CN19_Buck1_SN_0m_2', 'CN19_Buck2_SN_0m_1',
       'CN19_Buck3_SN_0m_1', 'CN19_Nisk_SM_Dusk_5m_1',
       'CN19_Nisk_PB_Night_5m_2', 'CN19_Nisk_PB_Night_100m_3',
       'CN19_Buck5_0m_2', 'CN19_Nisk_PB_Dawn_5m_2',
       'CN19_Nisk_PB_Dawn_100m_1', 'CN19_Nisk_PB_Dawn_100m_3',
       'CN19_Nisk_MO_Night_5m_1', 'CN19_Nisk_MO_Dawn_100m_1',
       'CN19_Nisk_Far_5m_1', 'CN19_Nisk_Far_5m_2',
       'CN19_Nisk_PS_Dusk_75m_1', 'CN19_Nisk_PS_Dusk_75m_3',
       'CN19_Nisk_PS_Dusk_10m_1', 'CN19_Nisk_PS_Dusk_5m_1',
       'CN19_Nisk_PS_Dusk_5m_2', 'CN19_Nisk_PS_Dawn_5m_1',
       'CN19_Nisk_PS_Dawn_10m_1', 'CN19_Nisk_PS_Dawn_100m_1',
       'CN19_Buck2_SN_0m_2', 'CN19_Nisk_SM_Dusk_50m_1',
       'CN19_Nisk_MO_Dawn_5m_1', 'CN19_Nisk_Dav_Dawn_27m_2',
       'CN19_Nisk_Dav_Dusk_5m_1', 'CN19_Nisk_Dav_Dusk_5m_2',
       'CN19_Nisk_Dav_Dusk_13m_1', 'CN19_Nisk_Dav_Dusk_13m_3',
       'CN19_Nisk_Dav_Dusk_70m_1', 'CN19_Nisk_Dav_Dusk_70m_2',
       'CN19_Nisk_Dav_Dusk_70m_3', 'CN19_Buck6_Dav_Night_0m_1',
       'CN19_Buck6_Dav_Night_0m_2', 'CN19_Nisk_Dav_Predusk_12m_1',
       'CN19_Nisk_MO_Night_5m_2', 'CN19_Nisk_MO_Night_100m_2',
       'CN19_Nisk_MO_Dawn_26m_1', 'CN19_Nisk_Dav_Dawn_5m_1',
       'CN19_Nisk_Dav_Dawn_5m_2', 'CN19_Nisk_Dav_Dawn_27m_1',
       'CN19_Nisk_Dav_Dawn_100m_1', 'CN19_Nisk_Dav_Dawn_100m_2',
       'CN19_Nisk_Dav_Dawn_100m_3', 'CN19_Nisk_Far_13m_1',
       'CN19_Nisk_Far_13m_2', 'CN19_Nisk_Far_60m_1',
       'CN19_Nisk_Far_60m_2', 'CN19_Nisk_Far_60m_3',
       'CN19_Nisk_MO_Night_7m_2', 'CN19_Nisk_SM_Day_5m_2_y'], dtype='<U27')

### Problem #2: 18S (SM Day/Dusk 5m_2)

In [91]:
os.chdir("/Users/nastassiapatin/OneDrive - SCCWRP/Euks_mgns_asvs/18S comparison/ASV Tables")

In [92]:
x = pd.read_csv("RREAS2019_18S_asv_filtered_noCs_mgnmatches.csv")
x = x.rename(columns={"Unnamed: 0": "ASV ID"})
x.head()

,ASV ID,CN19_Nisk_SM_Night_100m_1,CN19_Nisk_SM_Day_5m_1,CN19_Nisk_SM_Day_5m_2,CN19_Nisk_SM_Day_10m_1,CN19_Nisk_SM_Day_10m_2,CN19_Nisk_SM_Day_100m_1,CN19_Nisk_SM_Day_100m_2,CN19_Nisk_SM_Day_100m_3,CN19_Nisk_SM_Dusk_50m_2,...,CN19_Nisk_Dav_Dawn_5m_2,CN19_Nisk_Dav_Dawn_27m_1,CN19_Nisk_Dav_Dawn_100m_1,CN19_Nisk_Dav_Dawn_100m_2,CN19_Nisk_Dav_Dawn_100m_3,CN19_Nisk_Far_13m_1,CN19_Nisk_Far_13m_2,CN19_Nisk_Far_60m_1,CN19_Nisk_Far_60m_2,CN19_Nisk_Far_60m_3
0,ASV_1,43,15045,19333,17526,7371,77,33,73,3101,...,20993,116,112,80,124,138,3981,141,39,115
1,ASV_2,2,6277,5702,76,76,5,1,5,25774,...,12004,572,950,1976,846,11370,9071,242,18,10
2,ASV_3,3,1,0,2504,2723,37,5,5,1,...,1,1,9,3,0,0,0,0,0,2
3,ASV_4,1483,11153,6124,1337,1235,625,349,252,1925,...,430,808,1343,956,1258,1353,1684,3384,4395,6655
4,ASV_5,613,5,6,3,24,87,128,108,42,...,5,19,146,103,4,3,1,15,24,21

In [93]:
y = pd.read_csv("RREAS2019_18S_otu_filtered.csv")
y = y.rename(columns={"Unnamed: 0": "ASV ID"})
y.head()

,ASV ID,CN19_Nisk_SM_Night_100m_1_CY,CN19_Nisk_SM_Day_5m_1_CY,CN19_Nisk_SM_Day_5m_2_CY,CN19_Nisk_SM_Day_10m_1_CY,CN19_Nisk_SM_Day_10m_2_CY,CN19_Nisk_SM_Day_100m_1_CY,CN19_Nisk_SM_Day_100m_2_CY,CN19_Nisk_SM_Day_100m_3_CY,CN19_Nisk_SM_Dusk_5m_2_CY,...,CN19_Nisk_Dav_Dawn_27m_1_CI,CN19_Nisk_Dav_Dawn_100m_1_CI,CN19_Nisk_Dav_Dawn_100m_2_CI,CN19_Nisk_Dav_Dawn_100m_3_CI,CN19_FB8_CI,CN19_Nisk_Far_13m_1_CI,CN19_Nisk_Far_13m_2_CI,CN19_Nisk_Far_60m_1_CI,CN19_Nisk_Far_60m_2_CI,CN19_Nisk_Far_60m_3_CI
0,ASV_1,43,15045,19333,17526,7371,77,33,73,42162,...,116,112,80,124,476,138,3981,141,39,115
1,ASV_2,2,6277,5702,76,76,5,1,5,5706,...,572,950,1976,846,14804,11370,9071,242,18,10
2,ASV_3,3,1,0,2504,2723,37,5,5,4,...,1,9,3,0,1,0,0,0,0,2
3,ASV_4,1483,11153,6124,1337,1235,625,349,252,1426,...,808,1343,956,1258,683,1353,1684,3384,4395,6655
4,ASV_5,613,5,6,3,24,87,128,108,2,...,19,146,103,4,21,3,1,15,24,21

In [94]:
z = y[['ASV ID', 'CN19_Nisk_SM_Day_5m_2_CY']]
z = z.rename(columns={'CN19_Nisk_SM_Day_5m_2_CY' : 'CN19_Nisk_SM_Day_5m_2'})
z.head()

  ASV ID  CN19_Nisk_SM_Day_5m_2
0  ASV_1                  19333
1  ASV_2                   5702
2  ASV_3                      0
3  ASV_4                   6124
4  ASV_5                      6

In [98]:
x.shape

(7629, 113)

In [97]:
v = x.merge(z, on=['ASV ID'])
v.shape

(7629, 114)

In [99]:
v.head()

,ASV ID,CN19_Nisk_SM_Night_100m_1,CN19_Nisk_SM_Day_5m_1,CN19_Nisk_SM_Day_5m_2_x,CN19_Nisk_SM_Day_10m_1,CN19_Nisk_SM_Day_10m_2,CN19_Nisk_SM_Day_100m_1,CN19_Nisk_SM_Day_100m_2,CN19_Nisk_SM_Day_100m_3,CN19_Nisk_SM_Dusk_50m_2,...,CN19_Nisk_Dav_Dawn_27m_1,CN19_Nisk_Dav_Dawn_100m_1,CN19_Nisk_Dav_Dawn_100m_2,CN19_Nisk_Dav_Dawn_100m_3,CN19_Nisk_Far_13m_1,CN19_Nisk_Far_13m_2,CN19_Nisk_Far_60m_1,CN19_Nisk_Far_60m_2,CN19_Nisk_Far_60m_3,CN19_Nisk_SM_Day_5m_2_y
0,ASV_1,43,15045,19333,17526,7371,77,33,73,3101,...,116,112,80,124,138,3981,141,39,115,19333
1,ASV_2,2,6277,5702,76,76,5,1,5,25774,...,572,950,1976,846,11370,9071,242,18,10,5702
2,ASV_3,3,1,0,2504,2723,37,5,5,1,...,1,9,3,0,0,0,0,0,2,0
3,ASV_4,1483,11153,6124,1337,1235,625,349,252,1925,...,808,1343,956,1258,1353,1684,3384,4395,6655,6124
4,ASV_5,613,5,6,3,24,87,128,108,42,...,19,146,103,4,3,1,15,24,21,6

In [45]:
diff

{'CN19_Nisk_Dav_Dawn_27m_2',
 'CN19_Nisk_MO_Night_100m_1',
 'CN19_Nisk_MO_Night_7m_2',
 'CN19_Nisk_PB_Dusk_5m_1',
 'CN19_Nisk_SM_Day_5m_1',
 'CN19_Nisk_SM_Dusk_5m_2',
 'CN19_Nisk_SM_Night_100m_3',
 'CN19_Nisk_SM_Night_23m_1',
 'CN19_Nisk_SM_Night_23m_2',
 'CN19_Nisk_SM_Night_5m_1',
 'CN19_Nisk_SM_Night_5m_2',
 'Class',
 'Domain',
 'Family',
 'Genus',
 'Kingdom',
 'Order',
 'Phylum',
 'Species'}